body {
    font-size: 45px;
    font-family: 'Karla', sans-serif;
    color: #bdc1db;
    margin-left:8%;
    margin-top:15%;
    line-height: 1;
    background-color: #2B2D42;
}
.fa {
    padding: 8px;
    text-align: center;
    text-decoration: none;
    margin: 1% 0px 0px -5px;
    color: #bdc1db;
  }
  .fa:hover {
      opacity: 0.4;
  }
