body {
    font-size: 40px;
    font-family: 'Karla', sans-serif;
    color: #bdc1db;
    /*
    padding: 0;
    padding-left: 10%;
    padding-top: 10%;
    margin: 0;
    white-space: nowrap;
    line-height: 5px;
    */
    margin-left:8%;
    margin-top:15%;
    line-height: 1;
    

}

.fa {
    padding: 8px;
    text-align: center;
    text-decoration: none;
    margin: 1% 0px 0px -5px;
    color: #bdc1db;
  }
  
  .fa:hover {
      opacity: 0.4;
  }
